@charset "UTF-8";
/*
 * Главный файл стилей.
 * Все паршалы подключаются сюда.
 */
body {
  font-family: DM sans, sans-serif;
  font-weight: 400;
  letter-spacing: 0.04em;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

.section__title {
  font-family: Titan One;
  font-size: 34px;
  line-height: 1.15;
  text-align: center;
  text-transform: uppercase;
  color: #d41443;
  margin-top: 15;
}
@media screen and (min-width: 768px) {
  .section__title {
    font-size: 48px;
  }
}
@media screen and (min-width: 1200px) {
  .section__title {
    font-size: 58px;
    line-height: 1.14;
  }
}

.section-subtitle {
  margin: 0;
  font-family: Titan One;
  font-size: 18px;
  line-height: 1.17;
  text-align: center;
  text-transform: uppercase;
  color: #ffa5ba;
}
@media screen and (min-width: 768px) {
  .section-subtitle {
    font-size: 26px;
    line-height: 1.15;
  }
}
@media screen and (min-width: 1200px) {
  .section-subtitle {
    font-size: 30px;
    line-height: 1.13;
  }
}

.container {
  margin-left: auto;
  margin-right: auto;
}
@media screen and (max-width: 319px) {
  .container {
    max-width: 320px;
    padding-left: 20px;
    padding-right: 20px;
  }
}
@media screen and (min-width: 320px) {
  .container {
    width: 320px;
    padding-left: 20px;
    padding-right: 20px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
    padding-left: 34px;
    padding-right: 34px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
    padding-left: 77px;
    padding-right: 77px;
  }
}

.visually-hidden {
  position: absolute;
  top: 0;
  left: 0;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.menuclose-btn {
  display: inline-flex;
  position: absolute;
  top: 23px;
  right: 28px;
  background-color: inherit;
  border: none;
  padding: 0;
}

.menuopen-btn {
  display: inline-flex;
  position: absolute;
  top: 25px;
  right: 20px;
  background-color: inherit;
  border: none;
  padding: 0;
}
@media screen and (min-width: 768px) {
  .menuopen-btn {
    z-index: 15;
    width: 20px;
    height: 0px;
    left: 524px;
    top: 52px;
  }
}

.menu-close__icon {
  stroke: #fff;
}

.menu-close__icon {
  display: none;
}

.menu-burger__icon {
  display: block;
}

@media screen and (min-width: 1200px) {
  .menu-button {
    display: none;
  }
}

.buynow-btn {
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  padding-left: 43px;
  padding-right: 49px;
  margin-bottom: 19px;
  align-items: center;
  text-align: center;
  height: 44px;
  border: none;
  background-color: #fff;
  color: #d41443;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.31;
  border-radius: 22px;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 1200px) {
  .buynow-btn {
    position: absolute;
    width: 159px;
    height: 44px;
    left: 956px;
    top: 38px;
  }
}
.buynow-btn .menu-close__icon-arrow {
  stroke: #d41443;
}
@media screen and (max-width: 767px) {
  .buynow-btn {
    width: 209px;
  }
}
@media screen and (min-width: 768px) {
  .buynow-btn {
    width: 186px;
  }
}
@media screen and (min-width: 1200px) {
  .buynow-btn {
    margin-left: 110px;
  }
}
.buynow-btn:hover, .buynow-btn:focus {
  background-color: #ecebeb;
}

.buynow-btn-tablet {
  display: none;
}
@media screen and (min-width: 768px) {
  .buynow-btn-tablet {
    display: block;
    position: absolute;
    z-index: 15;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 21px;
    padding-left: 14px;
    align-items: center;
    text-align: center;
    background-color: #fff;
    color: #d41443;
    border-radius: 22px;
    border: none;
    background-color: #fff;
    position: absolute;
    width: 160px;
    height: 44px;
    left: 574px;
    top: 38px;
  }
  .buynow-btn-tablet:hover, .buynow-btn-tablet:focus {
    background-color: #ecebeb;
  }
}
@media screen and (min-width: 768px) and (min-width: 1200px) {
  .buynow-btn-tablet {
    display: none;
  }
}

.menu-close__icon-arrow-tablet {
  stroke: #d41443;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.31;
  border-radius: 22px;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (max-width: 1199px) {
  .nav-list {
    margin-top: 32px;
  }
}
@media screen and (min-width: 1200px) {
  .nav-list {
    display: flex;
    justify-content: space-between;
    width: 541px;
    position: absolute;
    z-index: 30;
    left: 355px;
    top: 55px;
  }
}

.nav-link {
  display: inline-block;
  color: #fff;
  letter-spacing: 0;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.29;
  transition: color 250ms linear;
}
.nav-link:hover, .nav-link:focus {
  color: #d41443;
}
@media screen and (min-width: 1200px) {
  .nav-link {
    padding-top: 51px;
    display: block;
    padding: 0;
    font-size: 16px;
    line-height: 1.31;
  }
}

.nav-item:not(:last-child) {
  margin-bottom: 22px;
}

.menu-box {
  z-index: 20;
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  transform: translateY(-100%);
  transition: transform 500ms linear;
}
@media screen and (max-width: 767px) {
  .menu-box {
    width: 250px;
    height: 502px;
    padding-top: 58px;
    padding-left: 21px;
  }
}
@media screen and (min-width: 768px) {
  .menu-box {
    width: 254px;
    height: 1020px;
    padding-top: 60px;
    padding-left: 24px;
  }
  .menu-box .buynow-btn {
    margin-left: 10px;
  }
}
@media screen and (max-width: 1199px) {
  .menu-box {
    box-shadow: -8px 0px 20px rgba(0, 0, 0, 0.25);
    background-color: #e17992;
  }
}
@media screen and (min-width: 1200px) {
  .menu-box {
    display: flex;
    flex-direction: row-reverse;
  }
}

.menu-box.is-opened {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  transform: translateY(0%);
}
.menu-box.is-opened .menu-burger__icon {
  display: none;
}
.menu-box.is-opened .menu-close__icon {
  display: block;
}

.hero {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  padding-top: 6px;
  height: 502px;
  background-color: #ffb8ca;
  background-size: 100%;
  overflow: hidden;
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .hero {
    max-width: 320px;
  }
}
@media screen and (min-width: 768px) {
  .hero {
    width: 768px;
    height: 399px;
    padding-top: 37px;
    padding-left: 34px;
    padding-right: 34px;
  }
}
@media screen and (min-width: 1200px) {
  .hero {
    width: 1200px;
    height: 665px;
    padding-top: 38px;
    padding-right: 98px;
  }
}

.header-logo {
  display: inline-block;
}
@media screen and (min-width: 768px) {
  .header-logo {
    position: absolute;
    width: 199px;
    height: 50px;
    left: 34px;
    top: 37px;
  }
}
@media screen and (min-width: 1200px) {
  .header-logo {
    position: absolute;
    width: 199px;
    height: 50px;
    left: 45px;
    top: 38px;
  }
}

.page-title {
  position: absolute;
  z-index: 10;
  font-family: Titan One;
  font-size: 26px;
  line-height: 1.15;
  text-transform: uppercase;
  color: #ffffff;
  width: 218px;
  margin-top: 137px;
}
@media screen and (min-width: 768px) {
  .page-title {
    position: absolute;
    width: 162px;
    height: 80px;
    left: 34px;
    top: 102px;
    font-size: 22px;
    line-height: 1.14;
    margin-top: 0;
  }
}
@media screen and (min-width: 1200px) {
  .page-title {
    position: absolute;
    width: 277px;
    height: 137px;
    left: 115px;
    top: 171px;
    font-size: 38px;
    line-height: 1.13;
    margin-top: 0;
  }
}
.page-title__accented {
  font-size: 48px;
  line-height: 0.96;
  color: #d41443;
}
@media screen and (min-width: 768px) {
  .page-title__accented {
    font-size: 34px;
    line-height: 1.09;
  }
}
@media screen and (min-width: 1200px) {
  .page-title__accented {
    font-size: 58px;
    line-height: 0.91;
  }
}

.hero-circle {
  z-index: 1;
  position: absolute;
  top: 83px;
  left: 36px;
  display: inline-block;
  width: 346px;
  height: 344px;
  border-radius: 50%;
  background-color: #ffa5ba;
}
@media screen and (min-width: 768px) {
  .hero-circle {
    width: 324px;
    height: 322px;
    left: 307px;
    top: 31px;
  }
}
@media screen and (min-width: 1200px) {
  .hero-circle {
    width: 538px;
    height: 538px;
    left: 475px;
    top: 52px;
  }
}

.icecream-box {
  position: absolute;
  right: 32px;
  bottom: 0;
  z-index: 9;
}
@media screen and (min-width: 768px) {
  .icecream-box {
    width: 143px;
    height: 336px;
    left: 378px;
    top: 63px;
    z-index: 9;
  }
}
@media screen and (min-width: 1200px) {
  .icecream-box {
    width: 236px;
    height: 557px;
    left: 594px;
    top: 108px;
    z-index: 9;
  }
}

.hero-prod__btn {
  z-index: 15;
  position: absolute;
  top: 318px;
  display: inline-block;
  color: #ffffff;
  background-color: #d41443;
  font-size: 8px;
  line-height: 1.25;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 61px;
  height: 24px;
  border-radius: 20px;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 768px) {
  .hero-prod__btn {
    width: 61.2px;
    height: 24px;
    left: 34px;
    top: 202px;
  }
}
@media screen and (min-width: 1200px) {
  .hero-prod__btn {
    font-size: 14px;
    line-height: 1.29;
    width: 102px;
    height: 40px;
    left: 115px;
    top: 333px;
  }
}
.hero-prod__btn:hover, .hero-prod__btn:focus {
  background-color: #c7133e;
}

.hero-made__btn {
  z-index: 15;
  position: absolute;
  top: 318px;
  left: 91px;
  display: inline-block;
  color: #d41443;
  background-color: #ffffff;
  font-size: 8px;
  line-height: 1.25;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 83px;
  height: 24px;
  border-radius: 20px;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 768px) {
  .hero-made__btn {
    width: 82.8px;
    height: 24px;
    left: 104.4px;
    top: 202px;
  }
}
@media screen and (min-width: 1200px) {
  .hero-made__btn {
    font-size: 14px;
    line-height: 1.29;
    width: 138px;
    height: 40px;
    left: 234px;
    top: 333px;
  }
}
.hero-made__btn:hover, .hero-made__btn:focus {
  background-color: #ecebeb;
}

.milk-box {
  display: none;
}
@media screen and (min-width: 768px) {
  .milk-box {
    display: block;
    position: absolute;
    width: 124px;
    height: 126px;
    left: 34px;
    top: 245px;
  }
}
@media screen and (min-width: 1200px) {
  .milk-box {
    width: 188px;
    height: 191px;
    left: 77px;
    top: 429px;
  }
}

.hero-text {
  display: none;
}
@media screen and (min-width: 768px) {
  .hero-text {
    display: block;
    position: absolute;
    width: 114px;
    left: 154px;
    top: 292px;
    font-style: normal;
    font-weight: normal;
    letter-spacing: 0;
    font-size: 8px;
    line-height: 150%;
    color: #ffffff;
  }
}
@media screen and (min-width: 1200px) {
  .hero-text {
    font-size: 14px;
    line-height: 140%;
    width: 200px;
    left: 295px;
    top: 485px;
  }
}

.arrow-box {
  display: none;
}
@media screen and (min-width: 768px) {
  .arrow-box {
    display: block;
    position: absolute;
    width: 18px;
    height: 18px;
    top: 347px;
    left: 154px;
    margin-top: 7px;
  }
}
@media screen and (min-width: 1200px) {
  .arrow-box {
    width: 26px;
    height: 26px;
    left: 295px;
    top: 583px;
  }
}

.woman-box {
  display: none;
  z-index: 2;
}
@media screen and (min-width: 768px) {
  .woman-box {
    display: block;
    position: absolute;
    width: 168px;
    height: 133px;
    left: 566px;
    top: 266px;
  }
}
@media screen and (max-width: 1199px) {
  .woman-box {
    width: 168px;
    height: 133px;
    left: 566px;
    top: 266px;
  }
}
@media screen and (min-width: 1200px) {
  .woman-box {
    width: 293px;
    height: 232px;
    left: 853px;
    top: 433px;
  }
}

.cirkle-min16 {
  display: none;
}
@media screen and (min-width: 768px) {
  .cirkle-min16 {
    display: block;
    position: absolute;
    width: 16px;
    height: 16px;
    left: 718px;
    top: 94px;
    border-radius: 50%;
    background: #ffffff;
    transform: matrix(-1, 0, 0, 1, 0, 0);
  }
}
@media screen and (min-width: 1200px) {
  .cirkle-min16 {
    width: 30px;
    height: 30px;
    left: 1123px;
    top: 156px;
  }
}

.cafe16 {
  display: none;
}
@media screen and (min-width: 768px) {
  .cafe16 {
    display: block;
    position: absolute;
    z-index: 1;
    width: 33px;
    height: 32px;
    left: 691px;
    top: 96px;
    font-family: Titan One;
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    line-height: 1.14;
    text-align: right;
    text-transform: uppercase;
    color: #d41443;
  }
}
@media screen and (min-width: 1200px) {
  .cafe16 {
    z-index: 15;
    width: 54px;
    height: 53px;
    left: 1081px;
    top: 160px;
    font-size: 46px;
    line-height: 1.15;
  }
}

.cafe {
  display: none;
}
@media screen and (min-width: 768px) {
  .cafe {
    display: block;
    position: absolute;
    width: 20px;
    height: 10px;
    left: 704px;
    top: 128px;
    font-style: normal;
    font-weight: normal;
    font-size: 8px;
    line-height: 1.25;
    text-align: right;
    color: #ffffff;
  }
}
@media screen and (min-width: 1200px) {
  .cafe {
    width: 35px;
    height: 18px;
    left: 1100px;
    top: 215px;
    font-size: 14px;
    line-height: 1.29;
  }
}

.cirkle-min23 {
  display: none;
}
@media screen and (min-width: 768px) {
  .cirkle-min23 {
    display: block;
    position: absolute;
    width: 16px;
    height: 16px;
    left: 698px;
    top: 151px;
    border-radius: 50%;
    background: #ffffff;
    transform: matrix(-1, 0, 0, 1, 0, 0);
  }
}
@media screen and (min-width: 1200px) {
  .cirkle-min23 {
    width: 30px;
    height: 30px;
    left: 1123px;
    top: 248px;
  }
}

.food23 {
  display: none;
}
@media screen and (min-width: 768px) {
  .food23 {
    display: block;
    position: absolute;
    z-index: 1;
    width: 36px;
    height: 32px;
    left: 690px;
    top: 152px;
    font-family: Titan One;
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    line-height: 1.14;
    text-align: right;
    text-transform: uppercase;
    color: #d41443;
  }
}
@media screen and (min-width: 1200px) {
  .food23 {
    width: 59px;
    height: 53px;
    left: 1076px;
    top: 251px;
    font-size: 46px;
    line-height: 1.15;
  }
}

.food {
  display: none;
}
@media screen and (min-width: 768px) {
  .food {
    display: block;
    position: absolute;
    width: 70px;
    height: 10px;
    left: 683px;
    top: 184px;
    font-style: normal;
    font-weight: normal;
    font-size: 8px;
    line-height: 1.25;
    text-align: left;
    color: #ffffff;
  }
}
@media screen and (min-width: 1200px) {
  .food {
    width: 120px;
    height: 18px;
    left: 1061px;
    top: 306px;
    font-size: 14px;
    line-height: 1.29;
  }
}

.products {
  padding-top: 121px;
  padding-bottom: 98px;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .products {
    padding-top: 122px;
    padding-bottom: 112px;
  }
}
@media screen and (min-width: 1200px) {
  .products {
    padding-top: 127px;
    padding-bottom: 119px;
  }
}

.product {
  position: relative;
  transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  border-radius: 24px;
  text-align: center;
}
.product:first-child {
  background-color: #ffb8ca;
}
.product:nth-child(2) {
  background-color: #f0d1a5;
}
.product:last-child {
  background-color: #c2e297;
}
.product:hover {
  transform: scale(1.07);
}
@media screen and (max-width: 767px) {
  .product {
    width: 280px;
    padding-bottom: 41px;
    padding-top: 161px;
    padding-left: 40px;
    padding-right: 40px;
  }
  .product:not(:last-child) {
    margin-bottom: 130px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .product {
    width: 220px;
    padding-bottom: 40px;
    padding-top: 152px;
    padding-left: 11px;
    padding-right: 11px;
  }
}
@media screen and (min-width: 1200px) {
  .product {
    width: 335px;
    padding-bottom: 50px;
    padding-top: 163px;
    padding-left: 44px;
    padding-right: 44px;
  }
}

.products .section-subtitle {
  display: block;
  margin-bottom: 15px;
}
@media screen and (max-width: 767px) {
  .products .section-subtitle {
    font-size: 18px;
    line-height: 21px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .products .section-subtitle {
    font-size: 26px;
    line-height: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .products .section-subtitle {
    font-size: 30px;
    line-height: 34px;
    letter-spacing: 0.04em;
  }
}

.products .section__title {
  margin-left: auto;
  margin-right: auto;
  width: 200px;
}
@media screen and (max-width: 767px) {
  .products .section__title {
    margin-bottom: 144px;
    font-size: 34px;
    line-height: 39px;
    letter-spacing: 0.04em;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .products .section__title {
    margin-bottom: 150px;
    font-size: 48px;
    line-height: 55px;
    letter-spacing: 0.04em;
    width: 283px;
  }
}
@media screen and (min-width: 1200px) {
  .products .section__title {
    margin-bottom: 259px;
    font-size: 58px;
    line-height: 66px;
    letter-spacing: 0.06em;
    width: 350px;
  }
}

.products-list {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 768px) {
  .products-list {
    display: flex;
    justify-content: space-between;
  }
}

.product-name {
  font-family: Titan One;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  margin-top: 0;
  margin-bottom: 0;
}
@media screen and (min-width: 1200px) {
  .product-name {
    font-size: 30px;
    line-height: 34px;
    letter-spacing: 0.04em;
  }
}

.products-separator {
  width: 26px;
  display: flex;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
}

.separation-circle {
  display: inline-block;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: #fff;
}

.product-description {
  display: block;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.52;
  letter-spacing: 0.04em;
  text-align: center;
  color: #ffffff;
}
@media screen and (max-width: 767px) {
  .product-description {
    margin-top: 30px;
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .product-description {
    margin-top: 30px;
    margin-bottom: 40px;
    line-height: 1.76;
  }
}
@media screen and (min-width: 1200px) {
  .product-description {
    margin-top: 30px;
    margin-bottom: 62px;
    font-size: 16px;
    line-height: 1.76;
  }
}

.product-image__container {
  position: absolute;
  top: -116px;
  left: 16px;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .product-image__container {
    width: 100%;
    left: 0;
    top: -100px;
    height: 224;
  }
}
@media screen and (min-width: 1200px) {
  .product-image__container {
    width: 100%;
    left: 0;
    top: -200px;
    height: 335;
  }
}

.product-btn {
  border: none;
  padding: 0;
  background-color: #fff;
  border-radius: 50%;
  width: 40px;
  height: 40px;
}

@media screen {
  .dolore {
    display: none;
  }
}

.making-section {
  background-color: #fff5f6;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
@media screen and (max-width: 767px) {
  .making-section {
    padding-top: 125px;
    padding-bottom: 97px;
    background-image: url(/milk-background@1x.bb2a46ae.png);
  }
}
@media screen and (max-width: 767px) and (min-resolution: 2dppx) {
  .making-section {
    background-image: url(/milk-background@2x.e2d8f3ee.png);
  }
}
@media screen and (min-width: 768px) {
  .making-section {
    padding-top: 130px;
    padding-bottom: 142px;
  }
}
@media screen and (min-width: 1200px) {
  .making-section {
    padding-top: 125px;
    padding-bottom: 139px;
    background-image: url(/milk-background@1x.5ceda0c7.png);
  }
}
@media screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .making-section {
    background-image: url(/milk-background@2x.72e39ce0.png);
  }
}

.making-section .section__title {
  margin-bottom: 0;
  margin-top: 15px;
}

@media screen and (max-width: 767px) {
  .making-picture {
    margin-top: 26px;
  }
}
@media screen and (min-width: 768px) {
  .making-picture {
    width: 340px;
  }
}
@media screen and (min-width: 1200px) {
  .making-picture {
    width: 516px;
  }
}

@media screen and (min-width: 768px) {
  .flex-container {
    display: flex;
    margin-top: 50px;
  }
}
@media screen and (min-width: 1200px) {
  .flex-container {
    margin-top: 55px;
    justify-content: center;
  }
}

@media screen and (max-width: 767px) {
  .making-describe {
    padding: 0 30px;
    margin-top: 46px;
  }
}
@media screen and (min-width: 768px) {
  .making-describe {
    margin-top: 50px;
    margin-left: 17px;
    width: 343px;
  }
}
@media screen and (min-width: 1200px) {
  .making-describe {
    width: 463px;
    margin-top: 60px;
    margin-left: 74px;
  }
}

.making-describe p {
  font-weight: 500;
  font-style: normal;
  text-align: left;
}
@media screen and (max-width: 767px) {
  .making-describe p {
    font-size: 12px;
    line-height: 1.58;
  }
}
@media screen and (min-width: 768px) {
  .making-describe p {
    font-size: 14px;
    line-height: 1.79;
  }
}
@media screen and (max-width: 1199px) {
  .making-describe p {
    letter-spacing: normal;
  }
}
@media screen and (min-width: 1200px) {
  .making-describe p {
    line-height: 1.93;
  }
}

@media screen and (min-width: 768px) {
  .br {
    display: none;
  }
}

.making-describe .making-begin {
  color: #000000;
  display: block;
}
@media screen and (min-width: 1200px) {
  .making-describe .making-begin {
    font-size: 16px;
  }
}

.making-describe .making-middle {
  margin-top: 30px;
  color: #907e82;
}
@media screen and (min-width: 768px) {
  .making-describe .making-middle {
    letter-spacing: inherit;
  }
}
@media screen and (min-width: 1200px) {
  .making-describe .making-middle {
    margin-top: 35px;
  }
}

.making-describe .making-result {
  margin-top: 15px;
  color: #907e82;
}
@media screen and (min-width: 1200px) {
  .making-describe .making-result {
    margin-top: 30px;
  }
}

.making-button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
  padding: 0 37px;
  width: 176px;
  height: 44px;
  background-color: #ffffff;
  border-radius: 22px;
  border: none;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.29;
  color: #d41443;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (max-width: 767px) {
  .making-button {
    margin-top: 20px;
  }
}
@media screen and (min-width: 768px) {
  .making-button {
    margin-top: 55px;
  }
}
@media screen and (min-width: 1200px) {
  .making-button {
    margin-top: 40px;
  }
}
.making-button:focus, .making-button:hover {
  background-color: #ecebeb;
}

.making-button::after {
  content: "";
  width: 7px;
  height: 11px;
  display: inline-block;
  background-image: url(/making-buttton-arrow.2d668fdd.svg);
  background-repeat: no-repeat;
  background-size: 7px 11px;
  background-position: 50% 50%;
}

@media screen and (max-width: 767px) {
  .making-statistical {
    margin-top: 39px;
  }
}
@media screen and (min-width: 768px) {
  .making-statistical {
    display: flex;
    margin-top: 64px;
  }
}
@media screen and (min-width: 1200px) {
  .making-statistical {
    margin-top: 39px;
  }
}

.li-title,
.li-description {
  margin: 0;
}

.li-title {
  font-family: Titan One;
  font-style: normal;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.04em;
  color: #d41443;
}
@media screen and (max-width: 767px) {
  .li-title {
    font-size: 36px;
    line-height: 1.14;
  }
}
@media screen and (min-width: 768px) {
  .li-title {
    font-size: 48px;
    line-height: 1.15;
  }
}
@media screen and (min-width: 1200px) {
  .li-title {
    font-size: 58px;
    line-height: 1.14;
  }
}

.making-volume .li-title::before {
  content: "";
  width: 33px;
  height: 50px;
  display: block;
  background-image: url(/bucket-milk.00dc0a46.svg);
  background-size: contain;
}
@media screen and (max-width: 767px) {
  .making-volume .li-title::before {
    margin-bottom: 16px;
  }
}
@media screen and (min-width: 768px) {
  .making-volume .li-title::before {
    margin-bottom: 36px;
  }
}
@media screen and (min-width: 1200px) {
  .making-volume .li-title::before {
    margin-bottom: 40px;
  }
}

.making-weight .li-title::before {
  content: "";
  width: 50px;
  height: 50px;
  display: block;
  background-image: url(/bucket-apple.b22589eb.svg);
  background-size: contain;
}
@media screen and (max-width: 767px) {
  .making-weight .li-title::before {
    margin-bottom: 16px;
  }
}
@media screen and (min-width: 768px) {
  .making-weight .li-title::before {
    margin-bottom: 36px;
  }
}
@media screen and (min-width: 1200px) {
  .making-weight .li-title::before {
    margin-bottom: 40px;
  }
}

.making-number .li-title::before {
  content: "";
  width: 44px;
  height: 50px;
  display: block;
  background-image: url(/sweets.ae05f5b3.svg);
  background-size: contain;
}
@media screen and (max-width: 767px) {
  .making-number .li-title::before {
    margin-bottom: 16px;
  }
}
@media screen and (min-width: 768px) {
  .making-number .li-title::before {
    margin-bottom: 36px;
  }
}
@media screen and (min-width: 1200px) {
  .making-number .li-title::before {
    margin-bottom: 40px;
  }
}

.li-description {
  margin-top: 20px;
  font-weight: 700;
  color: #000000;
}
@media screen and (max-width: 767px) {
  .li-description {
    font-size: 12px;
    line-height: 1.67;
    width: 230px;
    letter-spacing: normal;
  }
}
@media screen and (min-width: 768px) {
  .li-description {
    font-size: 14px;
    line-height: 1.71;
    width: 180px;
    letter-spacing: normal;
  }
}
@media screen and (min-width: 1200px) {
  .li-description {
    font-size: 16px;
    line-height: 1.75;
    width: 330px;
    letter-spacing: 0.02em;
  }
}

@media screen and (max-width: 767px) {
  .making-statistical li + li {
    margin-top: 38px;
  }
}
@media screen and (min-width: 768px) {
  .making-statistical li + li {
    margin-left: 60px;
  }
}
@media screen and (min-width: 1200px) {
  .making-statistical li + li {
    margin-left: 30px;
  }
}

/*.reviews {
display: flex;
 }
.reviews .container{
  padding:0;
}*/
.reviews-gallery {
  height: auto;
  width: 100%;
  /*@media screen and (min-width: $tablet) {

   min-width: 320px;
   @media screen and (min-width: $tablet) {

     width: 100%;
   }*/
}
@media screen and (min-width: 1200px) {
  .reviews-gallery {
    width: 1280px;
    margin-left: -80px;
  }
}

.photo-person1 {
  margin-top: 80px;
  margin-right: auto;
  margin-bottom: 30px;
  margin-left: auto;
  width: 85px;
  height: 85px;
}

.reviews-dots-svg {
  width: 4px;
  height: 4px;
  fill: #c7133e;
}

.reviews-dots-svg:not(:last-child) {
  margin-right: 10px;
}

.review-one {
  padding-bottom: 7px;
  margin-right: auto;
  margin-left: auto;
  background-image: url(/line1.a521c0fc.svg);
  background-position: right 10px bottom 40px;
  position: relative;
  text-align: center;
  z-index: 100;
}
@media screen and (max-width: 767px) {
  .review-one {
    width: 157px;
    font-weight: 500;
    font-size: 12px;
    line-height: 2.66;
    letter-spacing: 0.04em;
    color: black;
    letter-spacing: 0.03em;
    color: black;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .review-one {
    width: 480px;
    font-weight: 500;
    font-size: 14px;
    line-height: 2.16;
    letter-spacing: 0.04em;
    color: black;
    letter-spacing: 0.03em;
    color: black;
  }
}
@media screen and (min-width: 1200px) {
  .review-one {
    width: 750px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.86;
    letter-spacing: 0.04em;
    color: black;
  }
}

.review-one:before {
  content: "";
  background-image: url(/quotes1.6dac1593.svg);
  background-repeat: no-repeat;
  display: block;
  width: 54px;
  height: 40px;
  position: absolute;
  top: -15px;
  left: 0px;
  z-index: -10;
}
@media screen and (min-width: 768px) {
  .review-one:before {
    top: -15px;
    left: -20px;
  }
}

@media screen and (max-width: 767px) {
  .reviews-name {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.85;
    text-align: center;
    letter-spacing: 0.04em;
    color: black;
  }
}
@media screen and (max-width: 1199px) {
  .reviews-name {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.86;
    text-align: center;
    letter-spacing: 0.04em;
    color: black;
  }
}
@media screen and (min-width: 1200px) {
  .reviews-name {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.86;
    text-align: center;
    letter-spacing: 0.04em;
    color: black;
  }
}

.nav-home-svg {
  margin-right: 18px;
  width: 12px;
  height: 12px;
  fill: #d31342;
}

.nav-icon-svg {
  width: 12px;
  height: 12px;
  fill: #d9d9d9;
}

.nav-icon-svg:not(:last-child) {
  margin-right: 18px;
}

.reviews-nav {
  text-align: center;
  margin-top: 30px;
}

.icons-dots {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 18px;
}

.background-review {
  width: 100%;
  background-color: #fafafa;
}
@media screen and (max-width: 767px) {
  .background-review {
    padding-top: 43px;
    padding-bottom: 26px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .background-review {
    padding-top: 47px;
    padding-bottom: 34px;
  }
}
@media screen and (min-width: 1200px) {
  .background-review {
    padding-top: 47px;
    padding-bottom: 40px;
  }
}

.karusel {
  display: none;
}

.schedule {
  position: relative;
  color: #907e82;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.5;
  padding-top: 86px;
  padding-bottom: 113px;
}
@media screen and (min-width: 768px) {
  .schedule {
    padding-top: 119px;
    padding-bottom: 158px;
  }
}
@media screen and (min-width: 1200px) {
  .schedule {
    padding-top: 132px;
    padding-bottom: 165px;
  }
}

.container-schedule {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  z-index: 2;
}
@media screen and (max-width: 319px) {
  .container-schedule {
    max-width: 320px;
    padding-left: 50px;
    padding-right: 50px;
  }
}
@media screen and (min-width: 320px) {
  .container-schedule {
    width: 320px;
    padding-left: 50px;
    padding-right: 50px;
  }
}
@media screen and (min-width: 768px) {
  .container-schedule {
    width: 768px;
    padding-left: 36px;
    padding-right: 36px;
  }
}
@media screen and (min-width: 1200px) {
  .container-schedule {
    width: 1200px;
    padding-left: 115px;
    padding-right: 115px;
  }
}

.schedule::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  display: inline-block;
  background-color: #fff5f6;
  z-index: 1;
  width: 100%;
  height: 1515px;
}
@media screen and (min-width: 768px) {
  .schedule::before {
    height: 658px;
  }
}
@media screen and (min-width: 1200px) {
  .schedule::before {
    height: 650px;
  }
}

h2,
h3,
h4 {
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
}

.schedule-item {
  padding-bottom: 25px;
  margin-bottom: 25px;
  border-bottom: 1px solid #e1e1e1;
}
.schedule-item:nth-child(3n) {
  padding-bottom: 0;
  margin-bottom: 0;
  border-bottom: 0;
}

.card-title {
  display: inline-block;
  border-radius: 4px;
  color: #ffffff;
  background-color: #f0d1a5;
  margin-bottom: 25px;
  padding: 0 25px;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.86;
}

.schedule-cards {
  margin-bottom: 54px;
}
@media screen and (min-width: 768px) {
  .schedule-cards {
    display: flex;
    margin-bottom: 81px;
  }
}
@media screen and (min-width: 1200px) {
  .schedule-cards {
    justify-content: center;
    margin-bottom: 86px;
  }
}

.schedule-card {
  background: #ffffff;
  box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
  border-radius: 24px;
  margin-bottom: 20px;
  width: 220px;
  padding: 43px 20px;
  transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.schedule-card:nth-child(2) .card-title {
  background-color: #c2e297;
}
.schedule-card:hover {
  transform: scale(1.07);
}
.schedule-card:nth-child(3n) {
  margin-bottom: 0;
}
@media screen and (min-width: 768px) {
  .schedule-card {
    padding: 50px 31px;
    margin-bottom: 0;
    margin-right: 20px;
  }
  .schedule-card:nth-child(3n) {
    margin-right: 0;
  }
}
@media screen and (min-width: 1200px) {
  .schedule-card {
    width: 330px;
    padding: 51px 43px 62px;
    margin-right: 30px;
    transition-property: transform;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  .schedule-card:nth-child(3n) {
    margin-right: 0;
  }
  .schedule-card:hover {
    transform: scale(1.07);
  }
}
.schedule-card .item-city {
  display: block;
  color: black;
  line-height: 1.86;
  margin-bottom: 10px;
}
.schedule-card .item-title {
  color: black;
  line-height: 1.86;
}
.schedule-card .paragraph-time {
  color: #ffa5ba;
}
.schedule-card .paragraph-address {
  color: #907e82;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.5;
}

.schedule-buttons {
  text-align: center;
}
@media screen and (min-width: 768px) {
  .schedule-buttons {
    display: flex;
    justify-content: center;
  }
}

.schedule-button {
  margin-bottom: 10px;
}
.schedule-button:nth-child(2n) {
  margin-bottom: 0;
}
@media screen and (min-width: 768px) {
  .schedule-button {
    margin-right: 14.5px;
    margin-bottom: 0;
  }
  .schedule-button:nth-child(2n) {
    margin-right: 0;
  }
}
@media screen and (min-width: 1200px) {
  .schedule-button {
    margin-right: 15px;
  }
  .schedule-button:nth-child(2n) {
    margin-right: 0;
  }
}

.button-schedule {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.31;
  border: 1px solid transparent;
  border-radius: 22px;
  cursor: pointer;
  width: 161px;
  height: 44px;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.button-schedule__pink {
  color: white;
  background-color: #d41443;
}
.button-schedule__pink:hover, .button-schedule__pink:focus {
  background-color: #c7133e;
}
.button-schedule__white {
  color: #d41443;
  background-color: white;
}
.button-schedule__white:hover, .button-schedule__white:focus {
  background-color: #ecebeb;
}

.schedule-arrow {
  stroke: currentColor;
}

.footer-bg {
  background-color: #fff5f6;
}

@media screen and (min-width: 768px) {
  .footer-bg .container {
    display: flex;
  }
}

.footer-bg .box-inner {
  margin-bottom: 43px;
}
@media screen and (min-width: 768px) {
  .footer-bg .box-inner {
    width: 300px;
    display: inline-block;
    margin-left: auto;
    margin-bottom: 0;
  }
}
@media screen and (min-width: 1200px) {
  .footer-bg .box-inner {
    width: 335px;
  }
}

.footer-subtitle {
  display: block;
  margin-bottom: 16px;
  font-size: 18px;
  color: #ffa5ba;
}
@media screen and (min-width: 768px) {
  .footer-subtitle {
    font-size: 26px;
  }
}
@media screen and (min-width: 1200px) {
  .footer-subtitle {
    font-size: 30px;
  }
}

.footer-title {
  max-width: 234px;
  margin-top: 0;
  margin-bottom: 43px;
  font-family: Titan One;
  font-size: 34px;
  font-weight: 400;
  line-height: 1.14;
  text-transform: uppercase;
  color: #d41443;
}
@media screen and (min-width: 768px) {
  .footer-title {
    max-width: 340px;
    margin-bottom: 91px;
    font-size: 48px;
  }
}
@media screen and (min-width: 1200px) {
  .footer-title {
    max-width: 474px;
    margin-bottom: 97px;
    font-size: 58px;
  }
}

.footer-social {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 46px;
}

.footer-social .social-link:hover,
.footer-social .social-link:focus {
  background-color: #d41443;
}

.footer-social .social-list:not(:last-child) {
  margin-right: 28px;
}

.footer-social .social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-color: #fea5bb;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social .social-item {
  display: block;
  width: 20px;
  height: 20px;
}

.footer-address {
  display: block;
}

.footer-contact {
  display: block;
  text-align: right;
  font-style: normal;
  font-size: 12px;
}
@media screen and (min-width: 768px) {
  .footer-contact {
    font-size: 14px;
  }
}
@media screen and (min-width: 1200px) {
  .footer-contact {
    font-size: 16px;
  }
}

.footer-contact .contact-link {
  font-weight: 700;
  line-height: 1.83;
  color: #d41443;
}

.footer-copy {
  margin-top: 0;
  margin-bottom: 0;
  padding-bottom: 25px;
  padding-top: 22px;
  border-top: 1px solid #e1e1e1;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.5;
  text-align: center;
  color: #907e82;
}
@media screen and (min-width: 768px) {
  .footer-copy {
    padding-bottom: 18px;
    padding-top: 29px;
  }
}
@media screen and (min-width: 1200px) {
  .footer-copy {
    padding-bottom: 10px;
    padding-top: 10px;
  }
}

.footer-copy .text {
  display: inline-block;
  width: 150px;
}
@media screen and (min-width: 768px) {
  .footer-copy .text {
    width: 300px;
  }
}

/*# sourceMappingURL=/src.e31bb0bc.css.map */