<div class="menu-box is-opened">
    <button class="menuclose-btn">
        <svg class="menu-button" width="14" height="14" >
            <use class="menu-close__icon" href="../src/images/header/header-sprite.svg#icon-close"></use>
            <use class="menu-burger__icon" href="../src/images/header/header-sprite.svg#icon-burger"></use>
        </svg>
    </button>
    <button class="buynow-btn">Buy now
        <svg class="menu-button" width="14" height="14">
            <use class="menu-close__icon" href="../src/images/header/header-sprite.svg#icon-btn-arrow"></use>
            </svg>
    </button>
    <nav>
        <ul class="nav-list">
            <li class="nav-item"><a class="nav-link" href="">About us</a></li>
            <li class="nav-item"><a class="nav-link" href="">Home</a></li>
            <li class="nav-item"><a class="nav-link" href="">How it’s made?</a></li>
            <li class="nav-item"><a class="nav-link" href="">Our products</a></li>
            <li class="nav-item"><a class="nav-link" href="">Contact</a></li>
        </ul>
    </nav>
</div>
