<section class="hero">
    <div class="container">
        <header>
        
            <a href="" class="header-logo"><img width="199" height="50" src="../src/images/header/logo.png"
                    alt="Company logo"></a>
            <button class="menuopen-btn">
                <svg class="menu-button" width="20" height="12">
                    <use class="menu-burger__icon" href="../src/images/header/header-sprite.svg#icon-burger"></use>
                </svg>
            </button>
        <div class="menu-box">
            <button class="menuclose-btn">
                <svg class="menu-button" width="14" height="14">
                    <use class="menu-close__icon" href="../src/images/header/header-sprite.svg#icon-close"></use>
                </svg>
            </button>
            <button class="buynow-btn">Buy now
                <svg class="menu-button" width="4" height="8">
                    <use class="menu-close__icon-arrow" href="../src/images/header/header-sprite.svg#icon-btn-arrow"></use>
                </svg>
            </button>
            <nav>
                <ul class="nav-list">
                    <li class="nav-item"><a class="nav-link" href="">About us</a></li>
                    <li class="nav-item"><a class="nav-link" href="">Home</a></li>
                    <li class="nav-item"><a class="nav-link" href="">How it’s made?</a></li>
                    <li class="nav-item"><a class="nav-link" href="">Our products</a></li>
                    <li class="nav-item"><a class="nav-link" href="">Contact</a></li>
                </ul>
            </nav>
        </div>
        </header>
        <span class="hero-circle"></span>
        <h1 class="page-title">ice cream made with <span class="page-title__accented">passion</span></h1>
        <a class="hero-prod__btn" href="">Products</a>
        <a class="hero-made__btn" href="">How it’s made?</a>
        <div class="milk-box">
            <img src="../src/images/header/milk.png" alt="">
        </div>
        <p class="hero-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et</p>
        <a class="arrow-box" href="" >
            <img class="errow-box-img" src="../src/images/header/arrow.png" alt="">
        </a>
        <span class="cirkle-min16"></span>
        <p class="cafe16">16</p>
        <p class="cafe">cafes</p>
        <span class="cirkle-min23"></span>
        <p class="food23">23</p>
        <p class="food">food trucks</p>
        <div class="icecream-box">
            <img src="../src/images/header/hero-icecream.png" alt="">
        </div>
        <div class="woman-box">
            <img src="../src/images/header/woman.png" alt="">
        </div>

    </div>
</section>
