<section class="products">
    <div class="container">
        <h3 class="section-subtitle">100% natural</h3>
        <h2 class="section__title">products</h2>
        <ul class="products-list">
            <li class="product">
                <!-- <div class="product-image__container">
                    <img src="./images/products/mobile/home-pic1.png" alt="">
                </div> -->
                <h3 class="product-name">ice cream</h3>
                <div class="products-separator">
                    <span class="separation-circle"></span>
                    <span class="separation-circle"></span>
                    <span class="separation-circle"></span>
                </div>
                <p class="product-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et. dolore magna
                aliqua facilisis.</p>
                <button class="product-btn"><img src="" alt=""></button>
            </li>
            <li class="product">
                <!-- <div class="product-image__container">
                    <img src="./images/products/mobile/home-pic1.png" alt="">
                </div> -->
                <h3 class="product-name">ice coffee</h3>
                <div class="products-separator">
                    <span class="separation-circle"></span>
                    <span class="separation-circle"></span>
                    <span class="separation-circle"></span>
                </div>
                <p class="product-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et. dolore magna
                aliqua facilisis.</p>
                <button class="product-btn"><img src="" alt=""></button>
            </li>
            <li class="product">
                <!-- <div class="product-image__container">
                    <img width="249px" height="252px" src="./images/products/mobile/home-pic1.png" alt="">
                </div> -->
                <h3 class="product-name">milkshakes</h3>
                <div class="products-separator">
                    <span class="separation-circle"></span>
                    <span class="separation-circle"></span>
                    <span class="separation-circle"></span>
                </div>
                <p class="product-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et. dolore magna
                aliqua facilisis.</p>
                <button class="product-btn"><img src="" alt=""></button>
            </li>
        </ul>
    </div>
</section>