<section class="schedule">
    <div class="container">
        <h2 class="visually-hidden">Schedules</h2>
        <ul class="schedule-cards">
            <li class="schedule-card">
                <h3 class="card-title">CAFE</h3>
                <ul class="schedule-items">
                    <li class="schedule-item">
                        <b class="item-city">Chicago</b>
                        <p class="paragraph-address">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
                    </li>
                    <li class="schedule-item">
                        <b class="item-title">Monday - Friday</b>
                        <p class="paragraph-time">06:00 AM - 10:00 PM</p>
                        <b class="item-title">Saturday - Sunday</b>
                        <p class="paragraph-time">08:00 AM - 16:00 PM</p>
                    </li>
                    <li class="schedule-item">
                        <p class="paragraph-address">+61(0) 383 766 284 noreply@envato.com</p>
                    </li>
                </ul>
            </li>
            <li class="schedule-card">
                <h3 class="card-title">FOODTRUCK</h3>
                <ul class="schedule-items">
                    <li class="schedule-item">
                        <b class="item-title">Los Angeles</b>
                        <p class="paragraph-address">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
                    </li>
                    <li class="schedule-item">
                        <b class="item-title">Monday - Friday</b>
                        <p class="paragraph-time">06:00 AM - 10:00 PM</p>
                        <b class="item-title">Saturday - Sunday</b>
                        <p class="paragraph-time">08:00 AM - 16:00 PM</p>
                    </li>
                    <li class="schedule-item">
                        <p class="paragraph-address">+61(0) 383 766 284 noreply@envato.com</p>
                    </li>
                </ul>
            </li>
            <li class="schedule-card">
                <h3 class="card-title">CAFE</h3>
                <ul class="schedule-items">
                    <li class="schedule-item">
                        <b class="item-title">New York</b>
                        <p class="paragraph-address">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
                    </li>
                    <li class="schedule-item">
                        <b class="item-title">Monday - Friday</b>
                        <p class="paragraph-time">06:00 AM - 10:00 PM</p>
                        <b class="item-title">Saturday - Sunday</b>
                        <p class="paragraph-time">08:00 AM - 16:00 PM</p>
                    </li>
                    <li class="schedule-item">
                        <p class="paragraph-address">+61(0) 383 766 284 noreply@envato.com</p>
                    </li>
                </ul>
            </li>
        </ul>
        <ul class="schedule-buttons">
            <li class="schedule-button">
                <button class="button-schedule">
                    Our Locations
                    <svg class="schedule-arrow" width="4.43" height="8">
                        <use href="./images/schedule-img/schedule-sprite.svg#icon-schedule-arrow">
                        </use>
                    </svg>
                </button>
            </li>
            <li class="schedule-button">
                <button class="button-schedule">
                    Franchise
                    <svg class="schedule-arrow" width="4.43" height="8">
                        <use href="./images/schedule-img/schedule-sprite.svg#icon-schedule-arrow">
                        </use>
                    </svg>
                </button>
            </li>
        </ul>
    </div>
</section>