<section class="schedule">
    <div class="container-schedule">
        <h2 class="visually-hidden">Schedules</h2>
        <ul class="schedule-cards">
            <li class="schedule-card">
                <h3 class="card-title">CAFE</h3>
                <ul class="schedule-items">
                    <li class="schedule-item">
                        <h4 class="item-city">Chicago</h4>
                        <p class="paragraph-address">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
                    </li>
                    <li class="schedule-item">
                        <h4 class="item-title">Monday - Friday</h4>
                        <p class="paragraph-time">06:00 AM - 10:00 PM</p>
                        <h4 class="item-title">Saturday - Sunday</h4>
                        <p class="paragraph-time">08:00 AM - 16:00 PM</p>
                    </li>
                    <li class="schedule-item">
                        <ul class="schedule-address">
                            <li>
                                <a class="paragraph-address" href="tel:+61(0)383766284">+61(0) 383 766 284</a>
                            </li>
                            <li>
                                <a class="paragraph-address" href="mailto:noreply@envato.com">noreply@envato.com</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li class="schedule-card">
                <h3 class="card-title">FOODTRUCK</h3>
                <ul class="schedule-items">
                    <li class="schedule-item">
                        <h4 class="item-city">Los Angeles</h4>
                        <p class="paragraph-address">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
                    </li>
                    <li class="schedule-item">
                        <h4 class="item-title">Monday - Friday</h4>
                        <p class="paragraph-time">06:00 AM - 10:00 PM</p>
                        <h4 class="item-title">Saturday - Sunday</h4>
                        <p class="paragraph-time">08:00 AM - 16:00 PM</p>
                    </li>
                    <li class="schedule-item">
                        <ul>
                            <li>
                                <a class="paragraph-address" href="tel:+61(0)383766284">+61(0) 383 766 284</a>
                            </li>
                            <li>
                                <a class="paragraph-address" href="mailto:noreply@envato.com">noreply@envato.com</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li class="schedule-card">
                <h3 class="card-title">CAFE</h3>
                <ul class="schedule-items">
                    <li class="schedule-item">
                        <h4 class="item-city">New York</h4>
                        <p class="paragraph-address">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
                    </li>
                    <li class="schedule-item">
                        <h4 class="item-title">Monday - Friday</h4>
                        <p class="paragraph-time">06:00 AM - 10:00 PM</p>
                        <h4 class="item-title">Saturday - Sunday</h4>
                        <p class="paragraph-time">08:00 AM - 16:00 PM</p>
                    </li>
                    <li class="schedule-item">
                        <ul>
                            <li>
                                <a class="paragraph-address" href="tel:+61(0)383766284">+61(0) 383 766 284</a>
                            </li>
                            <li>
                                <a class="paragraph-address" href="mailto:noreply@envato.com">noreply@envato.com</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>
        </ul>
        <ul class="schedule-buttons">
            <li class="schedule-button schedule-button__pink">
                <button class="button-schedule button-schedule__pink">
                    Our Locations
                    <svg class="schedule-arrow" width="4.43" height="8">
                        <use href="./images/schedule-img/schedule-sprite.svg#icon-schedule-arrow">
                        </use>
                    </svg>
                </button>
            </li>
            <li class="schedule-button schedule-button__white">
                <button class="button-schedule button-schedule__white">
                    Franchise
                    <svg class="schedule-arrow" width="4.43" height="8">
                        <use href="./images/schedule-img/schedule-sprite.svg#icon-schedule-arrow">
                        </use>
                    </svg>
                </button>
            </li>
        </ul>
    </div>
</section>