.btn-arrow {
  position: absolute;
  top: 8px;
  right: 43px;

  @media screen and(min-width: $desctop) {
    right: 37px;
  }

  font-size: 25px;
}
.buynow-btn {
  position: relative;
  // padding: 0;
  padding-left: 37px;
  padding-right: 57px;
  height: 44px;

  border: none;
  background-color: #fff;
  color: $accented-text;
  @media screen and(max-width: $to-tablet) {
    width: 209px;
  }
  @media screen and(min-width: $tablet) {
    width: 186px;
  }
  @media screen and(min-width: $desctop) {
    margin-left: 110px;
    margin-top: 39px;
  }

  font-weight: 700;
  font-size: 16px;
  line-height: 1.31;

  border-radius: 22px;

  transition: background-color 250ms linear;
  &:hover,
  &:focus {
    background-color: $light-btn-hover-bgc;
  }
}
