.buynow-btn {
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  padding-left: 43px;
  align-items: center;
  text-align: center;
  height: 44px;

  border: none;
  background-color: #fff;
  color: $accented-text;
  .menu-close__icon-arrow {
    stroke: $accented-text;
  }
  @media screen and(max-width: $to-tablet) {
    width: 209px;
  }
  @media screen and(min-width: $tablet) {
    width: 186px;
    position: absolute;
    padding-left: 43px;
  }
  @media screen and(min-width: $desctop) {
    margin-left: 110px;
    width: 159px;
    height: 44px;
    left: 1006px;
    top: 38px;
    padding-left: 37px;
  }

  font-weight: 700;
  font-size: 16px;
  line-height: 1.31;

  border-radius: 22px;

  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: $light-btn-hover-bgc;
  }
}
