.menuclose-btn {
  display: inline-flex;
  position: absolute;
  top: 23px;
  right: 28px;
  background-color: inherit;
  border: none;
  padding: 0;
}
.menu-close__icon {
  stroke: #fff;
}
.menu-close__icon {
  display: none;
}
.menu-burger__icon {
  display: block;
}
.menu-button {
  @media screen and(min-width: $desctop) {
    display: none;
  }
}
