.menu-box {
  z-index: 20;
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  transform: translateY(-100%);
  transition: transform 500ms linear;
  @media screen and(max-width: $to-tablet) {
    width: 250px;
    height: 502px;
    padding-top: 58px;
    padding-left: 21px;
  }
  @media screen and(min-width: $tablet) {
    // position: absolute;
    // top: 0;
    // right: 100%;
    width: 254px;
    height: 1020px;
    padding-top: 60px;
    padding-left: 24px;
    .buynow-btn {
      margin-left: 10px;
      
    }
  }
  @media screen and(max-width: $to-desctop) {
    box-shadow: (-8px 0px 20px rgba(0, 0, 0, 0.25));
    background-color: $menu-bgc;
  }
  @media screen and(min-width: $desctop) {
    display: flex;
    flex-direction: row-reverse;
  }
}

.menu-box.is-opened {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  transform: translateY(0%);
  .menu-burger__icon {
    display: none;
  }
  .menu-close__icon {
    display: block;
  }
}
